#clock-face {
    background-image: url('clock.jpg');
    background-repeat: no-repeat;
    background-color: black;
}

#h-hand {
    stroke-width: 24px;
    stroke: #333;
}

#m-hand {
    stroke-width: 14px;
    stroke: #888;
}

#s-hand {
    stroke-width: 10px;
    stroke: #bb0000;
}

#h-hand, #m-hand, #s-hand {
    stroke-linecap: round;
    opacity: 0.9;
}